@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

ul, ol {
  list-style: none;
}
body, html, div {
  margin: 0;
  padding: 0;
}

html {
  background-color: #FAF2E7;
}

h1, H2 {
  font-family: NeutralFace, sans-serif;
}

p, a, label, input {
  font-family: Lora, serif;
}

html {
  height: 100%;
  width: 100%;
  min-width: 100%;
}

@font-face {
  font-family: 'NeutralFace';
  src: url('../../public/fonts/NeutralFace.otf') format('truetype');
}

@font-face {
  font-family: 'Lora';
  src: url('../../public/fonts/Lora-Regular.ttf') format('truetype');
}

