@tailwind base;
@tailwind components;
@tailwind utilities;




ul, ol {
  list-style: none;
}
body, html, div {
  margin: 0;
  padding: 0;
}

html {
  background-color: #F9F9F9;
}

h1, h2 {
  font-family: NeutralFace, sans-serif;
}

p, a, label, input {
  font-family: Lora, serif;
}

html {
  height: 100%;
  width: 100%;
  min-width: 100%;
}

body {
  background-color: #F9F9F9;
}

@font-face {
  font-family: 'NeutralFace';
  src: url('../../public/fonts/NeutralFace.otf') format('truetype');
}

@font-face {
  font-family: 'Lora';
  src: url('../../public/fonts/Lora-Regular.ttf') format('truetype');
}

