.headerContainer {
    width: 100%;
    height: auto;
    background-color: #FAF2E7;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10%;
}

.titleContainer {
    width: 40%;
    padding: 2%;
}

.title {
    color: #74362D;
    font-family: NeutralFace, sans-serif;
    text-decoration: none;
}

.subtitle {
    color: #0C0B0A
}

.navContainer {
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2%;
}

.searchBar {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.searchInput {
    width: 100%;
    min-width: 220px;
    background: #FAF2E7;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    box-shadow: -1px 0px 16px 4px rgba(0,0,0,0.21);
    -webkit-box-shadow: -1px 0px 16px 4px rgba(0,0,0,0.21);
    -moz-box-shadow: -1px 0px 16px 4px rgba(0,0,0,0.21);
    color: #0C0B0A;
    font-family: Lora, serif;

}

.iconList {
    display: flex;
    flex-direction: row;
}

.icon {
    font-size: 2rem;
    margin: 10px;
    color: #0C0B0A;
    position: relative;
}

.link {
    color: #0C0B0A;
    padding: 2px;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
}

.logoContainer {
    display: flex;
    flex-direction: row;
    padding: 2%;
}

.icon:hover {
    color: #D78975;
    cursor: pointer;
}
.dropdownContent {
    position: absolute;
    right: 10px;
    background-color: #FAF2E7;
    border: 1px solid #ccc;
    padding: 10px;
    height: auto;
    border-radius: 4px;
    box-shadow: -1px 0px 16px 4px rgba(0,0,0,0.21);
    -webkit-box-shadow: -1px 0px 16px 4px rgba(0,0,0,0.21);
    -moz-box-shadow: -1px 0px 16px 4px rgba(0,0,0,0.21);
    z-index: 999;
}

.dropDownMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


@media (max-width: 768px) {
    .headerContainer {
        flex-direction: column;
        padding-bottom: 20%;
    }

    .titleContainer {
        text-align: center;
    }

    .navContainer {
        width: auto;
        display: flex;
        flex-direction: column;
    }

    .iconList {
        padding: 0;
        margin-top: 20%;
    }

    .dropdownContent {
        max-height: 8%;
        right: initial;
    }
}